html {
  background-image: url("images/etchBackground.jpg");
}

h1 {
  margin-bottom: .25rem;
}

.container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

button {
  margin-bottom: .5rem;
  padding: 1rem 2rem;
  background-color: transparent;
  border-radius: 9%;
  border: 2px solid black;
  font-family: helvetica, sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.board {
  margin: 0 auto;
}

.square {
  margin: .1rem;
  display: inline-block;
  height: .75rem;
  width: .75rem;
  background-color: black;
}
