html {
  background-image: url("images/etchBackground.jpg");
}

.container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

button {
  padding: 1rem 2rem;
  background-color: transparent;
  border-radius: 9%;
  border: 2px solid black;
  font-family: helvetica, sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.board {
  margin: 0 auto;
  height: 100%;
  width: 90%;
}

.square {
  margin: .1rem;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: black;
}

.square:hover {
  background-color: white;
}